$icon-font-path: "/components/bootstrap-sass/assets/fonts/bootstrap/";

@import "../components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;
}

#newsletter_list {
  td {
    vertical-align: middle;
  }
}

#newsletter_users_panel {
  border-radius: 0;
}
