{% extends "base.html.twig" %}

{% block content %}
    <table class="table table-striped" id="newsletter_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.id }}</td>
                <td>{{ newsletter.subject|convert_encoding('UTF-8', 'iso-8859-1') }}</td>
                <td>{{ newsletter.status|newsletter_status }}</td>
                <td class="col-md-4">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn btn-info" role="button" href="{{ path('newsletter_users', {id: newsletter.id}) }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                Users
                            </a>
                        </div>
                        <div class="col-md-3">
                            <form class="form-inline" method="post" action="{{ path('newsletter_pause', {id: newsletter.id}) }}">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                    Pause
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
