{% extends "base.html.twig" %}

{% block scripts %}
    <script type="text/javascript" src="/components/jquery-form/jquery.form.js"></script>
    <script type="text/twig" id="subscription_list">
        {{ source('newsletter/partials/subscription_list.html.twig') }}
    </script>
    <script type="text/javascript">
        jQuery(function($) {
            twig({
                id: 'subscription_list',
                data: $('#subscription_list').text()
            });
            $('#subscriptions_select_all').change(function() {
                $('#newsletter_subscriptions tbody :checkbox').prop('checked', $(this).is(':checked'));
            });
            $('#subscriptions_filter').ajaxForm({
                dataType: 'json',
                success: function(response, statusText, xhr, $form) {
                    if(response.subscriptions) {
                        $.each(response.subscriptions, function(k, subscription) {
                            if(subscription.sentDate) {
                                subscription.sentDate = new Date(subscription.sentDate);
                            }
                        });
                    }
                    var output = twig({ ref: 'subscription_list'}).render(response);
                    $('#newsletter_subscriptions tbody').html(output);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-default" id="newsletter_users_panel">
        <div class="panel-heading">
            <form class="form-inline" id="subscriptions_filter" method="post" action="{{ path('newsletter_subscriber_search', {id: newsletter_id}) }}">
                <div class="form-group">
                    <label class="sr-only" for="subscriber_email">Email</label>
                    <input type="text" class="form-control" id="subscriber_email" placeholder="Email" name="form[email]" />
                </div>
                <button type="submit" class="btn btn-default" id="subscriptions_filter_btn">Filter</button>
                <a href="{{ path('newsletter_users', {id: newsletter_id}) }}" class="btn btn-default">Reset</a>
            </form>
        </div>
        <form id="subscriptions_form" method="post" action="{{ path('newsletter_subscriber_update', {id: newsletter_id}) }}">
            <table class="table table-striped" id="newsletter_subscriptions">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Sent Date</th>
                    <th>
                        <label>
                            <input type="checkbox" id="subscriptions_select_all" />
                        </label>
                    </th>
                </tr>
                </thead>
                <tbody>
                {{ include('newsletter/partials/subscription_list.html.twig', {'subscriptions': subscriptions}) }}
                </tbody>
            </table>
            <div class="panel-footer text-right">
                <button type="submit" name="form[resend]" class="btn btn-warning">Resend</button>
            </div>
        </form>
    </div>
{% endblock %}
