{
    "subscriptions": [
        {% for subscription in subscriptions %}
            {
                "id": "{{ subscription.id }}",
                "subscriberEmail": "{{ subscription.subscriberEmail }}",
                "sentDate": {{ subscription.sentDate is empty ? 'null' : subscription.sentDate|date('"c"')|raw }}
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}