{% for subscription in subscriptions %}
    <tr>
        <td>{{ subscription.subscriberEmail }}</td>
        <td>
            {% if subscription.sentDate is not null %}
                {{ subscription.sentDate|date('d/m/Y - H:i:s') }}
            {% endif %}
        </td>
        <td>
            <label>
                <input type="checkbox" name="form[id][]" aria-label="{{ subscription.id }}" value="{{ subscription.id }}" />
            </label>
        </td>
    </tr>
{% endfor %}